# Lab 2

In [6]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia-340-2-fall25147258/Crime_Data_from_2020_to_Present.csv') # load the data from s3
df.head() #show the top 5 rows; df.tail() will give last 5 rows

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [7]:
df.shape #show the number of rows and columns

(1004991, 28)

In [8]:
df['Crm Cd Desc'] #select a column

0                                          THEFT OF IDENTITY
1             ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
2                                          THEFT OF IDENTITY
3          THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...
4            THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
                                 ...
1004986                            OTHER MISCELLANEOUS CRIME
1004987                       CHILD NEGLECT (SEE 300 W.I.C.)
1004988                                    INDECENT EXPOSURE
1004989                             BATTERY - SIMPLE ASSAULT
1004990                                    INDECENT EXPOSURE
Name: Crm Cd Desc, Length: 1004991, dtype: object

In [9]:
df.sort_values(by='AREA NAME') #sort data by a column

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
705893,231224527,12/08/2023 12:00:00 AM,11/29/2023 12:00:00 AM,1100,12,77th Street,1215,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,NaN,NaN,NaN,5500 DENKER AV,NaN,33.9924,-118.3046
896876,241205730,01/29/2024 12:00:00 AM,01/29/2024 12:00:00 AM,200,12,77th Street,1215,1,761,BRANDISH WEAPON,...,IC,Invest Cont,761.0,930.0,NaN,NaN,VERMONT AV,SLAUSON AV,33.9921,-118.2980
680921,231205158,01/21/2023 12:00:00 AM,01/21/2023 12:00:00 AM,1214,12,77th Street,1248,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,84TH ST,HOOVER ST,33.9792,-118.2893
220864,211225451,12/21/2021 12:00:00 AM,12/21/2021 12:00:00 AM,300,12,77th Street,1211,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,5300 ARLINGTON AV,NaN,33.9948,-118.3182
680904,231216729,07/31/2023 12:00:00 AM,07/29/2023 12:00:00 AM,1300,12,77th Street,1232,1,520,VEHICLE - ATTEMPT STOLEN,...,IC,Invest Cont,520.0,998.0,NaN,NaN,BRYNHURST,60TH ST,33.9854,-118.3330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245352,210714125,10/08/2021 12:00:00 AM,10/08/2021 12:00:00 AM,1100,7,Wilshire,701,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,AO,Adult Other,230.0,NaN,NaN,NaN,8000 ROMAINE ST,NaN,34.0888,-118.3648
760230,230704280,01/07/2023 12:00:00 AM,01/07/2023 12:00:00 AM,1935,7,Wilshire,724,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,NaN,NaN,NaN,100 THE GROVE DR,NaN,34.0736,-118.3563
99545,200710772,06/21/2020 12:00:00 AM,06/21/2020 12:00:00 AM,618,7,Wilshire,784,2,888,TRESPASSING,...,IC,Invest Cont,888.0,NaN,NaN,NaN,5000 W WASHINGTON BL,NaN,34.0406,-118.3486
846781,230712604,07/28/2023 12:00:00 AM,07/28/2023 12:00:00 AM,1845,7,Wilshire,765,1,210,ROBBERY,...,AA,Adult Arrest,210.0,NaN,NaN,NaN,1300 S LA BREA AV,NaN,34.0501,-118.3442
525018,220706443,03/07/2022 12:00:00 AM,03/02/2022 12:00:00 AM,2200,7,Wilshire,732,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,6100 ORANGE ST,NaN,34.0640,-118.3614

In [10]:
df[0:5] #slice by rows

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [11]:
df[df['AREA']>10] # select rows by values

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350
7,201115217,10/29/2020 12:00:00 AM,07/07/2020 12:00:00 AM,1400,11,Northeast,1133,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,...,AO,Adult Other,812.0,860.0,NaN,NaN,3000 ACRESITE ST,NaN,34.1107,-118.2589
8,241708596,04/20/2024 12:00:00 AM,03/02/2020 12:00:00 AM,1200,17,Devonshire,1729,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,17700 SIMONDS ST,NaN,34.2763,-118.5210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004985,251904120,02/12/2025 12:00:00 AM,02/12/2025 12:00:00 AM,1430,19,Mission,1902,2,900,VIOLATION OF COURT ORDER,...,AO,Adult Other,900.0,NaN,NaN,NaN,14500 BLEDSOE ST,NaN,34.3199,-118.4490
1004986,252104112,02/02/2025 12:00:00 AM,02/02/2025 12:00:00 AM,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,22100 ROSCOE BL,NaN,34.2259,-118.6126
1004988,251304095,01/31/2025 12:00:00 AM,01/30/2025 12:00:00 AM,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,NaN,NaN,NaN,300 E 53RD ST,NaN,33.9942,-118.2701
1004989,251704066,01/17/2025 12:00:00 AM,01/17/2025 12:00:00 AM,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,9600 ZELZAH AV,NaN,34.2450,-118.5233
1004990,251904210,03/25/2025 12:00:00 AM,03/25/2025 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,NaN,NaN,NaN,11100 OMELVENY AV,NaN,34.2722,-118.4417

In [12]:
df.info() # shows the data types and number of null values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         853372 non-null   object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        860347 non-null   object
 13  Vict Descent    860335 non-null   object
 14  Premis Cd       1004975 non-null  float64
 15  Premis Desc     1004403 non-null  object
 16  Weapon Used Cd  327247 non-null   float64
 17  Weapon Desc     327247 non-null   object
 18  Status          1004990 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004980 non-null  float64
 21  Crm Cd 2        69160 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  Cross Street    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [13]:
df.isnull().sum() #show the number of rows containing null value

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151619
Vict Age                0
Vict Sex           144644
Vict Descent       144656
Premis Cd              16
Premis Desc           588
Weapon Used Cd     677744
Weapon Desc        677744
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           935831
Crm Cd 3          1002677
Crm Cd 4          1004927
LOCATION                0
Cross Street       850755
LAT                     0
LON                     0
dtype: int64

In [14]:
df.dropna()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
27751,201904032,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,2135,19,Mission,1924,1,761,BRANDISH WEAPON,...,AA,Adult Arrest,761.0,930.0,997.0,998.0,ASTORIA ST,SAN FERNANDO RD,34.2949,-118.4571
134755,200613424,08/02/2020 12:00:00 AM,08/02/2020 12:00:00 AM,2030,6,Hollywood,657,1,761,BRANDISH WEAPON,...,AO,Adult Other,761.0,920.0,930.0,998.0,WESTERN,ROMAINE,34.0885,-118.3092
363765,210617136,10/08/2021 12:00:00 AM,10/07/2021 12:00:00 AM,1950,6,Hollywood,659,1,121,"RAPE, FORCIBLE",...,IC,Invest Cont,121.0,210.0,910.0,998.0,NORMANDIE,DE LONGPRE,34.0966,-118.3005
372524,210209196,05/08/2021 12:00:00 AM,05/08/2021 12:00:00 AM,230,2,Rampart,279,1,210,ROBBERY,...,AO,Adult Other,210.0,510.0,910.0,998.0,JAMES M WOOD,GREEN,34.0503,-118.2720
490101,220600626,04/27/2022 12:00:00 AM,04/23/2022 12:00:00 AM,2300,6,Hollywood,646,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,...,IC,Invest Cont,230.0,821.0,910.0,998.0,SELMA,LAS PALMAS,34.0997,-118.3363
537834,221718232,12/25/2022 12:00:00 AM,12/25/2022 12:00:00 AM,1150,17,Devonshire,1797,1,122,"RAPE, ATTEMPTED",...,AA,Adult Arrest,122.0,230.0,910.0,998.0,PARTHENIA ST,HAYVENHURST,34.2285,-118.4939
586003,221401314,11/10/2022 12:00:00 AM,11/10/2022 12:00:00 AM,2117,14,Pacific,1452,2,910,KIDNAPPING,...,IC,Invest Cont,812.0,860.0,910.0,998.0,WASHINGTON,SPEEDWAY,33.9792,-118.4666
728576,231717599,11/15/2023 12:00:00 AM,11/15/2023 12:00:00 AM,400,17,Devonshire,1738,1,210,ROBBERY,...,IC,Invest Cont,210.0,230.0,761.0,998.0,HASKELL AV,SAN FERNANDO BL,34.2692,-118.4789
809419,231915572,10/21/2023 12:00:00 AM,10/21/2023 12:00:00 AM,1,19,Mission,1902,1,210,ROBBERY,...,AA,Adult Arrest,210.0,250.0,761.0,998.0,POLK,BORDEN,34.3103,-118.4467
934749,241905348,02/04/2024 12:00:00 AM,02/03/2024 12:00:00 AM,1100,19,Mission,1983,1,820,ORAL COPULATION,...,AO,Adult Other,761.0,820.0,910.0,998.0,BURNET,PARTHENIA,34.2282,-118.4633